#github {
  padding: 100px 20px;
  background-color: #f8fafc;
}

.github-container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 420px;
  align-items: center;
  gap: 70px;
}

.github-content h2 {
  margin: 20px 0;
  font-size: 42px;
  color: #0f172a;
}

.github-content p {
  margin-bottom: 35px;
  color: #475569;
  font-size: 18px;
  line-height: 1.8;
}

.github-button {
  display: inline-block;
  padding: 15px 30px;
  background: #2563eb;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.github-button:hover {
  background: #1d4ed8;
}

.github-card {
  background: #0f172a;
  border-radius: 20px;
  padding: 35px;
  color: white;

  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
}

.github-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.github-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #38bdf8;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;
  color: #0f172a;
}

.github-profile h3 {
  margin-bottom: 6px;
  font-size: 24px;
}

.github-profile span {
  color: #94a3b8;
}

.github-card p {
  color: #cbd5e1;
  line-height: 1.7;
  margin-bottom: 30px;
}

.github-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.github-projects span {
  padding: 10px 16px;
  background: #1e293b;
  border-radius: 30px;
  color: white;
  font-size: 14px;
}
